<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sentiment Analysis</title>
		<link href="styles.css" rel="stylesheet" />
		<script defer src="bundle.js"></script>
	</head>
	<body>
		<h1>Sentiment Analysis Form</h1>
		<form id="submit-form">
			<label for="name">Enter Text for Analysis:</label>
			<input type="text" id="name" name="name" required />
			<button type="submit">Analyze</button>
		</form>

		<div id="results">
			<p id="polarity"></p>
			<p id="subjectivity"></p>
			<p id="text-snippet"></p>
		</div>

		<p id="error" style="color: red"></p>

		<script src="bundle.js"></script>
	</body>
</html>
